.counted_divider {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: lightgrey;
    border: 2px solid palegreen;
}

.myspinner {
    color: black;
}

.refresher-refreshing-icon {
    color: black !important;
}