

.background {
    // background-color: #42c7ff;
    background-image: url("../../images/nature.jpg");
    background-size: cover;
        width: 100%;
        height: 100%;
}

.login-card {
   margin-top: 30%;
    opacity: 0.8;
}

.light{
    background-color: lightblue;
}
